@CHARSET "ISO-8859-1";

table {
background-color: #838B83;
 border-collapse: collapse;
   border: none;
 }
 thead {
   background-color: #f3c600;
 }
 tfoot {
   background-color: #CDB38B;
   font-size: 80%;
   border-top: 1px solid #999;
 }
 td, th {
   text-align: left;
   padding: 0.5em 1em;
 }
 
 BODY { background-color: '#CDB38B'; }
 