@CHARSET "ISO-8859-1";

/*Menüleiste oberes Bild*/
.Navigation_Top {
	height: 55px;
	background-color: transparent;
	background-image:
		url(http://www.bigfitboxclub.de/s/img/mt_firstSeparator.png);
	display: block;
	background-position: center;
}

/*Menüleiste unteres Bild*/
.Navigation_Botton {
	height: 6px;
	background-color: transparent;
	background-image:
		url(http://www.bigfitboxclub.de/s/img/mt_secondSeparator.png);
	display: block;
	background-position: 1px 0;
}

/*Bigfit Header*/
.emotionheader {
	background: url("../pictures/emotionheader.PNG") no-repeat top center;
	text-align: center;
	width: 100%;
	height: 234px;
	margin-top: 5px;
}

/*Menüleiste als Tabelle*/
.MenueLeiste {
	text-align: center;
	width: 963px;
	position: center;
	margin: 0 auto;
}

#tableFormular{
	text-align: left;
}

#tableFormular td {
	text-align: left;
	}

#tableMitgliedOverview
{
	border:0px solid #333333;
	text-align: left;
	vertical-align:top;
}

#tableTerminOverview
{
	border:0px solid #333333;
	text-align: left;
	vertical-align:top;
}

#tableMitglied {
	
}

#tableMitgliedtd {
	padding: 5px 10px;
	
}

#tableTermintd {
	padding: 5px 10px;
	
}



#tableTermintdOvlinks {
	border:2px solid #333333;
	text-align: left;
	width: 600px;
	vertical-align:top;
}

#tableTermintdOvrechts {
	border:2px solid #333333;
	text-align: left;
	width: 363px;
	vertical-align:top;
}


#tableMitgliedtdOvlinks {
	border:2px solid #333333;
	text-align: left;
	width: 60%;
	vertical-align:top;
}

#tableMitgliedtdOvrechts {
	border:2px solid #333333;
	text-align: left;
	width: 40%;
	vertical-align:top;
}

#navMenue {
	margin-top: -38px;
	width: 100%;
	background: url("http://www.bigfitboxclub.de/s/img/mt_navigation.png")
		repeat top center;
	text-align: center;
	border: 1px solid #333333;
	height: 38px;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 12px;
	color: #fff;
}

#navMenue td {
	width: 10%;
	padding: 1px;
	height: 20px;
	text-align: center;
	margin: 1px;
}

#navMenue a:link,#navMenue a:visited {
	color: #fff;
	text-decoration: none;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 14px;
	text-transform: none;
}

#navMenue a.chosen {
	color: #F0E68C;
}

#navMenue a:hover {
	color: #F0E68C;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 14px;
	/*45 ,41, 32*/
}

/*Inhalt der Seite*/
.content {
	text-align: center;
	width: 963px;
	height: 150%;
	position: center;
	margin: 5px auto;
	background-color: transparent;
	background-image: url("../pictures/mt_mainWrapperCenter_innen.png");
	background-repeat: repeat;
	border: 3px solid #000000;
}

body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 1.42857143;
	background-image: url(http://www.bigfitboxclub.de/s/img/mt_body.png);
	background-repeat: repeat-y;
	background-position: top center;
	/*margin: 0;*/
	color: #d3d3d3;
}

h1,h2,h3,h4,h5,h6 {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #d3d3d3;
}

p {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #d3d3d3;
}

a:link {
	COLOR: #F0E68C;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: bold;
}

a:visited {
	COLOR: #F0E68C;
}

a:hover {
	COLOR: #F4A460;
}

a:active {
	COLOR: #F4A460;
}