@CHARSET "ISO-8859-1";

#createChange {
	position: absolute;
	top: 30%;
	bottom: 30%;
	left: 35%;
	right: 35%;
	width: 30%;
	height: 40%;
	padding: 10px 10px 10px 10px;
	background-color: #FFFFFF;
	border: 2px solid #000000;
	text-align: center;
}

#button {
	text-align: center;
}


label {
	text-align: right;
	width: 100px;
	float: left;
}

div.clabel label {
	text-align: right;
	width: 150px;
	float: left;
}

field {
	padding: 10px;
	text-align: center;
}